// app global css in SCSS form
.header-image {
  height: 100%;
  z-index: -1;
  opacity: 0.3;
}

.page {
  background-color: darkgray;
  padding-top: 10px;
  padding-bottom: 10px;
}

.content {
  max-width: 850px;
  width: 90%;
  display: flex;
  flex-direction: column;
}

.task-done {
  background-color: lightblue;
  .q-item__label {
    text-decoration: line-through;
    color: gray;
  }
}

.no-tasks {
  opacity: 0.5;
}
